<div class="songholder container-fluid">
   <div class="albumcover">
      <img class="someClass" src="{{album.imageURL}}" width="100" height="100">
   </div>
   <div class="songinfo">
      <div class="songtitle ">
         <h4 class="m-0 textoverflow">{{name}}</h4>
      </div>
      <div class="songalbum">
         <h6 class="m-0 textoverflow">{{album.name}}</h6>
      </div>
      <div class="songartist">
         <h5 class="m-0 textoverflow">{{#each artists}} {{this}} {{/each}}</h5>
      </div>
   </div>
   <div class="playedat">
         <p style="text-align: right;">{{played_at}}</p>
   </div>
</div>